{% extends "base.html" %}

{% block head %}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-156454913-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-156454913-1');
    </script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.css">


    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">

    <meta name="description" content="myITS SSO">
    <meta name="author" content="DPTSI ITS">
    <meta name="robots" content="noindex, nofollow">

    <!-- Icons -->
    <!-- The following icons can be replaced with your own, they are used by desktop and mobile browsers -->
    <link rel="shortcut icon" href="https://my.its.ac.id/assets/media/favicons/favicon-web.png">
    <link rel="icon" type="image/png" sizes="192x192" href="https://my.its.ac.id/assets/media/favicons/favicon-web.png">
    <link rel="apple-touch-icon" sizes="180x180" href="https://my.its.ac.id/assets/plugins/sweetalert2/sweetalert2.min.css">
    <!-- END Icons -->

    <!-- Stylesheets -->

    <!-- Fonts and Codebase framework -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Muli:300,400,400i,600,700">
    <link rel="stylesheet" id="css-main" href="https://my.its.ac.id/assets/css/codebase.css">
    <link href="https://my.its.ac.id/assets/plugins/@fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet">

    <!-- You can include a specific file from css/themes/ folder to alter the default color theme of the template. eg: -->
    <!-- <link rel="stylesheet" id="css-theme" href="assets/css/themes/flat.min.css"> -->
    <link rel="stylesheet" id="css-theme" href="https://my.its.ac.id/assets/css/themes/corporate.min.css">
    <link rel="stylesheet" href="https://my.its.ac.id/assets/plugins/sweetalert2/sweetalert2.min.css">
    <link rel="stylesheet" href="https://my.its.ac.id/assets/plugins/cropperjs/dist/cropper.css">
    <!-- END Stylesheets -->

    {% comment %} tambahan {% endcomment %}
    {% comment %} css tambahan {% endcomment %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.css"
    integrity="sha512-SUJFImtiT87gVCOXl3aGC00zfDl6ggYAw5+oheJvRJ8KBXZrr/TMISSdVJ5bBarbQDRC2pR5Kto3xTR0kpZInA=="
    crossorigin="anonymous" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.css"
    integrity="sha512-/zs32ZEJh+/EO2N1b0PEdoA10JkdC3zJ8L5FTiQu82LR9S/rOQNfQN7U59U9BC12swNeRAz3HSzIL2vpp4fv3w=="
    crossorigin="anonymous" />
{% endblock %}

{% block title %}
    PDUPT
{% endblock title %}

{% block navbar %}

<div id="page-container" class="sidebar-inverse side-scroll page-header-fixed page-header-glass page-header-inverse main-content-boxed side-trans-enabled">
    <header id="page-header" class="bg-primary-dark">
        <!-- Header Content -->
        <div class="content-header">
            <!-- Left Section -->
            <div class="content-header-section">
                <!-- Logo -->
                <a class="logo" href="/">
                    <img srcset="https://my.its.ac.id/assets/media/img/@2x/myits-sso-white.png 2x, https://my.its.ac.id/assets/media/img/myits-sso-white.png 1x" src="https://my.its.ac.id/assets/media/img/myits-sso-white.png" width="100px" alt="home" class="dark-logo">
                </a>
                <!-- END Logo -->
            </div>
            <!-- END Left Section -->

            <!-- Right Section -->
            <div class="content-header-section">
                <!-- Header Navigation -->
                <!--
                Desktop Navigation, mobile navigation can be found in #sidebar
                -->
                <ul class="nav-main-header">
                    <li>
                        <a href="/author">Author</a>
                    </li>
                    <li>
                        <a href="/topic">Topic</a>
                    </li>
                    <li>
                        <a href="/affiliation">Affiliation</a>
                    </li>
                </ul>

                <!-- END Header Navigation -->

                <!-- Toggle Sidebar -->
                <!-- Layout API, functionality initialized in Template._uiApiLayout() -->
                <button type="button" class="btn btn-circle btn-dual-secondary d-lg-none" data-toggle="layout" data-action="sidebar_toggle">
                    <i class="fa fa-navicon"></i>
                </button>
                <!-- END Toggle Sidebar -->
            </div>
            <!-- END Right Section -->
        </div>
        <!-- END Header Content -->

        <!-- Header Loader -->
        <div id="page-header-loader" class="overlay-header bg-primary">
            <div class="content-header content-header-fullrow text-center">
                <div class="content-header-item">
                    <i class="fa fa-sun-o fa-spin text-white"></i>
                </div>
            </div>
        </div>

        <!-- END Header Loader -->
    </header>

{% endblock navbar %}


{% block footer %}
<footer id="page-footer" class="bg-white opacity-0" style="opacity: 1; margin-top:100px; margin-top: 20px;">
    <div class="content py-20 font-size-xs clearfix">
        <div class="float-left" style="padding-top: 40px">
            <div class="info">© 2020 Institut Teknologi Sepuluh Nopember</div>
        </div>
        <div class="float-right">
            <img srcset="https://my.its.ac.id/assets/media/img/@2x/Logo-its.png 2x, https://my.its.ac.id/assets/media/img/Logo-its.png 1x" src="https://my.its.ac.id/assets/media/img/Logo-its.png" alt="Logo ITS" class="dark-logo mr-2" width="100px">
            <img srcset="https://my.its.ac.id/assets/media/img/@2x/logo-ITSsemangatbaru.png 2x, https://my.its.ac.id/assets/media/img/logo-ITSsemangatbaru.png 1x" src="https://my.its.ac.id/assets/media/img/logo-ITSsemangatbaru.png" width="100px" alt="Logo ITS Semangat Baru" class="dark-logo">
        </div>
    </div>
</footer>
</div>
{% endblock %}

{% block content %}

{% load static %}

<main id="main-container" style="min-height: 829px;">

    <div class="container" style="margin-top: 100px;">
        <div class="logo" style="width: 120px;float:left;">
            <img style="width:111px; height:111px;" src="{% static 'author/img/'|add:'topik'|add:topics.id_topic|add:'.png' %}" style="position: relative;" alt="Logo Afiliasi">
        </div>
        <div class="topik">
            <p style="font-size: 24px; color: #013880; margin-bottom:0px;"> <strong> {{ topics.topic_name }} </strong></p>
            <p style="font-size: 18px;"> <strong> {{ topics.total_author }} Authors {{ topics.total_publication }} Publications {{ topics.total_cite }} Citations </strong> </p>
        </div>

        <div class="SVG" style="font-size: 18px; color: #013880; margin-top:50px; width:100%; height:600px;">
            <p> <strong> Sub-Topic </strong> </p>
            <svg overflow='scroll' id='vis' width='1600' height='700' transform='scale(0.6) translate(-400 -200)' z-index='1'>
                <g>
                    <g class="axis" transform="translate(0,0)">
                        <text x="94.888889" y="15" text-anchor="end" style="font-weight:bold;">
                            2010
                        </text>
                        <line x1="100.88889" y1="25" x2="100.88889" y2="675" style="stroke:lightgray; stroke-width:1;">

                        </line>
                    </g>
                    <g class="axis" transform="translate(150,0)">
                        <text x="94.888889" y="15" text-anchor="end" style="font-weight:bold;">
                            2011
                        </text>
                        <line x1="100.88889" y1="25" x2="100.88889" y2="675" style="stroke:lightgray; stroke-width:1;">

                        </line>
                    </g>
                    <g class="axis" transform="translate(300,0)">
                        <text x="94.888889" y="15" text-anchor="end" style="font-weight:bold;">
                            2012
                        </text>
                        <line x1="100.88889" y1="25" x2="100.88889" y2="675" style="stroke:lightgray; stroke-width:1;">

                        </line>
                    </g>
                    <g class="axis" transform="translate(450,0)">
                        <text x="94.888889" y="15" text-anchor="end" style="font-weight:bold;">
                            2013
                        </text>
                        <line x1="100.88889" y1="25" x2="100.88889" y2="675" style="stroke:lightgray; stroke-width:1;">

                        </line>
                    </g>
                    <g class="axis" transform="translate(600,0)">
                        <text x="94.888889" y="15" text-anchor="end" style="font-weight:bold;">
                            2014
                        </text>
                        <line x1="100.88889" y1="25" x2="100.88889" y2="675" style="stroke:lightgray; stroke-width:1;">

                        </line>
                    </g>
                    <g class="axis" transform="translate(750,0)">
                        <text x="94.888889" y="15" text-anchor="end" style="font-weight:bold;">
                            2015
                        </text>
                        <line x1="100.88889" y1="25" x2="100.88889" y2="675" style="stroke:lightgray; stroke-width:1;">

                        </line>
                    </g>
                    <g class="axis" transform="translate(900,0)">
                        <text x="94.888889" y="15" text-anchor="end" style="font-weight:bold;">
                            2016
                        </text>
                        <line x1="100.88889" y1="25" x2="100.88889" y2="675" style="stroke:lightgray; stroke-width:1;">

                        </line>
                    </g>
                    <g class="axis" transform="translate(1050,0)">
                        <text x="94.888889" y="15" text-anchor="end" style="font-weight:bold;">
                            2017
                        </text>
                        <line x1="100.88889" y1="25" x2="100.88889" y2="675" style="stroke:lightgray; stroke-width:1;">

                        </line>
                    </g>
                    <g class="axis" transform="translate(1200,0)">
                        <text x="94.888889" y="15" text-anchor="end" style="font-weight:bold;">
                            2018
                        </text>
                        <line x1="100.88889" y1="25" x2="100.88889" y2="675" style="stroke:lightgray; stroke-width:2;">

                        </line>
                    </g>
                    <g class="axis" transform="translate(1350,0)">
                        <text x="94.888889" y="15" text-anchor="end" style="font-weight:bold;">
                            2019
                        </text>
                        <line x1="100.88889" y1="25" x2="100.88889" y2="675" style="stroke:lightgray; stroke-width:2;">

                        </line>
                    </g>
                    <g class="axis" transform="translate(1500,0)">
                        <text x="94.888889" y="15" text-anchor="end" style="font-weight:bold;">
                            2020
                        </text>
                        <line x1="100.88889" y1="25" x2="100.88889" y2="675" style="stroke:lightgray; stroke-width:2;">

                        </line>
                    </g>
                </g>
                <g>
                    {% for dat in data %}
                    <path
                        d="M {{dat.xAwalAtas}},{{dat.yAwalAtas}} C {{dat.xLengkung1}},{{dat.yLengkung1atas}} {{dat.xLengkung2}},{{dat.yLengkung2atas}} {{dat.xAkhirAtas}},{{dat.yAkhirAtas}} L {{dat.xAkhirBawah}},{{dat.yAkhirBawah}} C {{dat.xLengkung2}},{{dat.yLengkung2bawah}} {{dat.xLengkung1}},{{dat.yLengkung1bawah}} {{dat.xAwalBawah}},{{dat.yAwalBawah}}"
                        style="stroke-dasharray: 10, 10; stroke: gray; stroke-width: 0; fill-opacity: 0.6; cursor: pointer; fill: {{dat.Color}};"
                        opacity="1"> </path>
                    {% endfor %}
                </g>
            </svg>
        </div>

        <canvas id="mixed-chart" width="400 px" height="200 px"></canvas>

        <div class="publications">
            <p style="font-size: 18px; color: #013880;"> <strong> Publications</strong> </p>
            <div class="content">
                {% if users.has_other_pages %}
                    <nav aria-label="Page navigation example" style="margin-bottom: 40px; margin-right:20px">
                        <ul class="pagination justify-content-end">
                            {% if users.has_other_pages %}
                            <nav aria-label="Page navigation example">
                                <ul class="pagination justify-content-end">
                                {% if users.has_previous %}
                                    <li class="page-item">
                                        <a class="page-link" href="?page={{ users.previous_page_number }}" tabindex="-1" style="color:#013880;">Previous</a>
                                    </li>
                                {% else %}
                                    <li class="page-item disabled">
                                        <a class="page-link" href="#" tabindex="-1">Previous</a>
                                    </li>
                                {% endif %}
                    
                                
                                {% for i in users.paginator.page_range %}
                                {% if users.number == i %}
                                    <li class="page-item active"><span class="page-link" style="background-color:#013880;">{{ i }} <span class="sr-only">(current)</span></span></li>
                                {% else %}
                                    <li class="page-item"><a href="?page={{ i }}" class="page-link" style="color:#013880;">{{ i }}</a></li>
                                {% endif %}
                                {% endfor %}
                    
                                {% if users.has_next %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ users.next_page_number }}" style="color:#013880;">Next</a>
                                </li>
                                    {% else %}
                                <li class="page-item disabled">
                                    <a class="page-link" href="#">Next</a>
                                    </li>
                                    {% endif %}
                                </ul>
                            </nav>
                            {% endif %}
                        </ul>
                    </nav>
                {% endif %}
            </div>

            <div class="filter" style="width:400px; float:left">
                Filter By: <br> <br>
                <input type="checkbox" id="sortcitations" name="sortcitations" value="sortcitations">
                <label for="sortcitations">Sort By Citations</label><br>
                <input type="checkbox" id="sortpublications" name="sortpublications" value="sortpublications">
                <label for="sortpublications">Sort By Publications</label><br>
            </div>

            {% for paper in users %}
            <div class="item" style="font-size:20px; box-shadow: 1px 1px 8px gray; background-color:white; width: 680px; height:auto; float:right; text-align:left; padding-left:20px; padding-right: 20px; margin-bottom:50px;">
                <p style="margin-top: 15px; font-size:20px; color: #013880; margin-bottom:0px;"> <strong> {{ paper.title }} </strong></p>
                <p style="margin-bottom:5px;"> <strong style="font-size:16px;"> {{ paper.year }} &nbsp; &nbsp; {{ paper.authors }} </strong></p>
                <p style="font-size:16px; color: #013880;"> <strong style="outline-style: solid;"> {{ topics.topic_name }} </strong> </p>
            </div>    
            {% endfor %}
        </div>
    </div>

</main>

{% endblock content %}

{% block script %}
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <script src="https://my.its.ac.id/assets/plugins/chartjs/Chart.min.js"></script>
    <script src="https://my.its.ac.id/assets/js/core/jquery.min.js"></script>
    <script src="https://my.its.ac.id/assets/js/codebase.core.min.js"></script>
    <script src="https://my.its.ac.id/assets/plugins/sweetalert2/sweetalert2.min.js"></script>
    <script src="https://my.its.ac.id/assets/js/codebase.app.min.js"></script>
    <script src="https://my.its.ac.id/assets/js/pages/db_corporate.min.js"></script>
    <script src="https://my.its.ac.id/assets/js/webauthn/base64url-arraybuffer.js"></script>
    <script src="https://my.its.ac.id/assets/js/webauthn/cbor.js"></script>
    <script src="https://my.its.ac.id/assets/js/webauthn/helpers.js"></script>
    <script src="https://my.its.ac.id/assets/plugins/cropperjs/dist/cropper.js"></script>
    <script src="https://my.its.ac.id/assets/plugins/jquery-croppers/dist/jquery-cropper.js"></script>
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    {% comment %} tambahan {% endcomment %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.js"
        integrity="sha512-G8JE1Xbr0egZE5gNGyUm1fF764iHVfRXshIoUWCTPAbKkkItp/6qal5YAHXrxEu4HNfPTQs6HOu3D5vCGS1j3w=="
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"
        integrity="sha512-s+xg36jbIujB2S2VKfpGmlC3T5V2TF3lY48DX7u2r9XzGzgPsa6wTpOQA7J9iffvdeBN0q9tKzRxVxw1JviZPg=="
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.min.js"
        integrity="sha512-vBmx0N/uQOXznm/Nbkp7h0P1RfLSj0HQrFSzV8m7rOGyj30fYAOKHYvCNez+yM8IrfnW0TCodDEjRqf6fodf/Q=="
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.js"
        integrity="sha512-QEiC894KVkN9Tsoi6+mKf8HaCLJvyA6QIRzY5KrfINXYuP9NxdIkRQhGq3BZi0J4I7V5SidGM3XUQ5wFiMDuWg=="
        crossorigin="anonymous"></script>

    <script>
        new Chart(document.getElementById("mixed-chart"), {
            type: 'bar',
            data: {
                labels: ["2018", "2019", "2020"],
                datasets: [
                    {% for dat in data2 %}
                    {
                        label: "{{dat.x}}",
                        type: "bar",
                        backgroundColor: "{{dat.Color}}",
                        backgroundColorHover: "{{dat.Color}}",
                        data: {{dat.y}},
                    },
                    {% endfor %}
                ]
            },
            options: {
                title: {
                    display: true,
                    text: 'Persebaran jumlah topik 3 tahun terakhir'
                },

            }
        }); 
        </script> 
{% endblock %}