{% extends "base.html" %}

{% block head %}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-156454913-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-156454913-1');
    </script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.css">


    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">

    <meta name="description" content="myITS SSO">
    <meta name="author" content="DPTSI ITS">
    <meta name="robots" content="noindex, nofollow">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <!-- Icons -->
    <!-- The following icons can be replaced with your own, they are used by desktop and mobile browsers -->
    <link rel="shortcut icon" href="https://my.its.ac.id/assets/media/favicons/favicon-web.png">
    <link rel="icon" type="image/png" sizes="192x192" href="https://my.its.ac.id/assets/media/favicons/favicon-web.png">
    <link rel="apple-touch-icon" sizes="180x180" href="https://my.its.ac.id/assets/plugins/sweetalert2/sweetalert2.min.css">
    <!-- END Icons -->

    <!-- Stylesheets -->

    <!-- Fonts and Codebase framework -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Muli:300,400,400i,600,700">
    <link rel="stylesheet" id="css-main" href="https://my.its.ac.id/assets/css/codebase.css">
    <link href="https://my.its.ac.id/assets/plugins/@fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet">

    <!-- You can include a specific file from css/themes/ folder to alter the default color theme of the template. eg: -->
    <!-- <link rel="stylesheet" id="css-theme" href="assets/css/themes/flat.min.css"> -->
    <link rel="stylesheet" id="css-theme" href="https://my.its.ac.id/assets/css/themes/corporate.min.css">
    <link rel="stylesheet" href="https://my.its.ac.id/assets/plugins/sweetalert2/sweetalert2.min.css">
    <link rel="stylesheet" href="https://my.its.ac.id/assets/plugins/cropperjs/dist/cropper.css">
    <!-- END Stylesheets -->

    
<style type="text/css">/* Chart.js */
@-webkit-keyframes chartjs-render-animation{from{opacity:0.99}to{opacity:1}}@keyframes chartjs-render-animation{from{opacity:0.99}to{opacity:1}}.chartjs-render-monitor{-webkit-animation:chartjs-render-animation 0.001s;animation:chartjs-render-animation 0.001s;}</style></head>

{% endblock %}

{% block title %}
    PDUPT
{% endblock title %}

{% block navbar %}

<div id="page-container" class="sidebar-inverse side-scroll page-header-fixed page-header-glass page-header-inverse main-content-boxed side-trans-enabled">
    <header id="page-header" class="bg-primary-dark">
        <!-- Header Content -->
        <div class="content-header">
            <!-- Left Section -->
            <div class="content-header-section">
                <!-- Logo -->
                <a class="logo" href="/">
                    <img srcset="https://my.its.ac.id/assets/media/img/@2x/myits-sso-white.png 2x, https://my.its.ac.id/assets/media/img/myits-sso-white.png 1x" src="https://my.its.ac.id/assets/media/img/myits-sso-white.png" width="100px" alt="home" class="dark-logo">
                </a>
                <!-- END Logo -->
            </div>
            <!-- END Left Section -->

            <!-- Right Section -->
            <div class="content-header-section">
                <!-- Header Navigation -->
                <!--
                Desktop Navigation, mobile navigation can be found in #sidebar
                -->
                <ul class="nav-main-header">
                    <li>
                        <a href="/author">Author</a>
                    </li>
                    <li>
                        <a href="/topic">Topic</a>
                    </li>
                    <li>
                        <a href="/affiliation">Affiliation</a>
                    </li>
                </ul>

                <!-- END Header Navigation -->

                <!-- Toggle Sidebar -->
                <!-- Layout API, functionality initialized in Template._uiApiLayout() -->
                <button type="button" class="btn btn-circle btn-dual-secondary d-lg-none" data-toggle="layout" data-action="sidebar_toggle">
                    <i class="fa fa-navicon"></i>
                </button>
                <!-- END Toggle Sidebar -->
            </div>
            <!-- END Right Section -->
        </div>
        <!-- END Header Content -->

        <!-- Header Loader -->
        <div id="page-header-loader" class="overlay-header bg-primary">
            <div class="content-header content-header-fullrow text-center">
                <div class="content-header-item">
                    <i class="fa fa-sun-o fa-spin text-white"></i>
                </div>
            </div>
        </div>

        <!-- END Header Loader -->
    </header>

{% endblock navbar %}

{% block content %}

{% load static %}


<main id="main-container" style="min-height: 829px;">

    <div class="container" style="width: 100%; margin-top:100px; margin-bottom:30px;">
        <form action="/author/" class="form-inline justify-content-center" method="post">
            {% csrf_token %}
                <input type="text" class="form-control" placeholder="Search Author..." id="author" name="author" style="border-color: #013880; width:94%">
                <button type="Submit" class="btn btn-primary" style="background-color: #013880; font-family: 'Quicksand', sans-serif; margin-left:15px;">
                    <i class="fas fa-search"></i>
                </button>
        </form>
    </div>

    <div class="content">
        {% if users.has_other_pages %}
            <nav aria-label="Page navigation example" style="margin-bottom: 40px; margin-right:20px">
                <ul class="pagination justify-content-end">
                    {% if users.has_other_pages %}
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-end">
                        {% if users.has_previous %}
                            <li class="page-item">
                                <a class="page-link" href="?id_topik={{chk}}&page={{ users.previous_page_number }}" tabindex="-1" style="color:#013880;">Previous</a>
                            </li>
                        {% else %}
                            <li class="page-item disabled">
                                <a class="page-link" href="#" tabindex="-1">Previous</a>
                            </li>
                        {% endif %}
            
                        
                        {% for i in users.paginator.page_range %}
                        {% if users.number == i %}
                            <li class="page-item active"><span class="page-link" style="background-color:#013880;">{{ i }} <span class="sr-only">(current)</span></span></li>
                        {% else %}
                            <li class="page-item"><a href="?id_topik={{chk}}&page={{ i }}" class="page-link" style="color:#013880;">{{ i }}</a></li>
                        {% endif %}
                        {% endfor %}
            
                        {% if users.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?id_topik={{chk}}&page={{ users.next_page_number }}" style="color:#013880;">Next</a>
                        </li>
                            {% else %}
                        <li class="page-item disabled">
                            <a class="page-link" href="#">Next</a>
                            </li>
                            {% endif %}
                        </ul>
                    </nav>
                    {% endif %}
                </ul>
            </nav>
        {% endif %}
    </div>
        
    <div class="container" style="text-align:left; width:100%;">
        <div class="filter" style="width:400px; float:left">
            Filter By: <br> <br>
            <form action="/author/" method="GET">
            {% for topics in topic %}
            <input type="checkbox" id="{{ topics.id_topic }}" name="id_topik" value="{{ topics.id_topic }}">
            <label for="{{ topics.id_topic }}"> {{ topics.topic_name }}</label><br>
            {% endfor %}
            <input type="submit" value="Update" id="selection-button">
            </form>

        </div>
        {% for authors in users %}
                <div class="author" style="box-shadow: 1px 1px 8px gray; background-color:white; width: 680px; height:214px; float:right; text-align:left; padding-left:20px; margin-bottom:50px; padding-right:20px;">
                    <a href="{{ authors.nidn }}" style="color: #013880;">
                        <p style="margin-top: 20px; font-size:20px;"> <strong> {{ authors.name }} </strong></p>
                    </a>
                    <p style="font-size:13px;"> <strong> {{ authors.univ.name }} </strong></p>
                    <p style="font-size:13px;"> <strong> nidn {{ authors.nidn }} i10-index {{ authors.i10_index }} h-index {{ authors.h_index }} </strong> </p>
                    <p style="font-size:13px; color: #013880;"> <strong style="outline-style: solid;"> {{ authors.topik_dominan1.topic_name }} </strong> &nbsp; &nbsp; <strong> {{ authors.nilai_dominan1 }} Publications </strong> &nbsp; &nbsp; <strong style="outline-style: solid;"> {{ authors.topik_dominan2.topic_name }} </strong> &nbsp; &nbsp; <strong> {{ authors.nilai_dominan2 }} Publications </strong></p>
                </div>    
        {% endfor %}
        </div>
        
    </main>
{% endblock content %}

{% block footer %}
<footer id="page-footer" class="bg-white opacity-0" style="opacity: 1; margin-top: 20px;">
    <div class="content py-20 font-size-xs clearfix">
        <div class="float-left" style="padding-top: 40px">
            <div class="info">© 2020 Institut Teknologi Sepuluh Nopember</div>
        </div>
        <div class="float-right">
            <img srcset="https://my.its.ac.id/assets/media/img/@2x/Logo-its.png 2x, https://my.its.ac.id/assets/media/img/Logo-its.png 1x" src="https://my.its.ac.id/assets/media/img/Logo-its.png" alt="Logo ITS" class="dark-logo mr-2" width="100px">
            <img srcset="https://my.its.ac.id/assets/media/img/@2x/logo-ITSsemangatbaru.png 2x, https://my.its.ac.id/assets/media/img/logo-ITSsemangatbaru.png 1x" src="https://my.its.ac.id/assets/media/img/logo-ITSsemangatbaru.png" width="100px" alt="Logo ITS Semangat Baru" class="dark-logo">
        </div>
    </div>
</footer>
{% endblock %}

{% block script %}
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <script src="https://my.its.ac.id/assets/plugins/chartjs/Chart.min.js"></script>
    <script src="https://my.its.ac.id/assets/js/core/jquery.min.js"></script>
    <script src="https://my.its.ac.id/assets/js/codebase.core.min.js"></script>
    <script src="https://my.its.ac.id/assets/plugins/sweetalert2/sweetalert2.min.js"></script>
    <script src="https://my.its.ac.id/assets/js/codebase.app.min.js"></script>
    <script src="https://my.its.ac.id/assets/js/pages/db_corporate.min.js"></script>
    <script src="https://my.its.ac.id/assets/js/webauthn/base64url-arraybuffer.js"></script>
    <script src="https://my.its.ac.id/assets/js/webauthn/cbor.js"></script>
    <script src="https://my.its.ac.id/assets/js/webauthn/helpers.js"></script>
    <script src="https://my.its.ac.id/assets/plugins/cropperjs/dist/cropper.js"></script>
    <script src="https://my.its.ac.id/assets/plugins/jquery-croppers/dist/jquery-cropper.js"></script>
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
{% endblock %}