{% extends "base.html" %}

{% block head %}
<style>
    .grid-container {
    display: grid;
    grid-template-columns: 0.5fr 1.5fr;
    grid-template-rows: 1fr;
    gap: 1px 1px;
    grid-template-areas: "foto data-aut";
    }

    .foto { grid-area: foto; }

    .data-aut {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 1px 1px;
    grid-template-areas: "." "." "." ".";
    grid-area: data-aut;
    }
    </style>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-156454913-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-156454913-1');
    </script>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="description" content="myITS SSO">
    <meta name="author" content="DPTSI ITS">
    <meta name="robots" content="noindex, nofollow">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <!-- Icons -->
    <!-- The following icons can be replaced with your own, they are used by desktop and mobile browsers -->
    <link rel="shortcut icon" href="https://my.its.ac.id/assets/media/favicons/favicon-web.png">
    <link rel="icon" type="image/png" sizes="192x192" href="https://my.its.ac.id/assets/media/favicons/favicon-web.png">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Muli:300,400,400i,600,700">
    <link rel="stylesheet" id="css-main" href="https://my.its.ac.id/assets/css/codebase.css">
    

    <!-- You can include a specific file from css/themes/ folder to alter the default color theme of the template. eg: -->
    <!-- <link rel="stylesheet" id="css-theme" href="assets/css/themes/flat.min.css"> -->
    <link rel="stylesheet" id="css-theme" href="https://my.its.ac.id/assets/css/themes/corporate.min.css">
    <!-- END Stylesheets -->
    
{% comment %} tambahan js  {% endcomment %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.css" integrity="sha512-SUJFImtiT87gVCOXl3aGC00zfDl6ggYAw5+oheJvRJ8KBXZrr/TMISSdVJ5bBarbQDRC2pR5Kto3xTR0kpZInA==" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.css" integrity="sha512-/zs32ZEJh+/EO2N1b0PEdoA10JkdC3zJ8L5FTiQu82LR9S/rOQNfQN7U59U9BC12swNeRAz3HSzIL2vpp4fv3w==" crossorigin="anonymous" />

{% endblock %}

{% block title %}
    PDUPT
{% endblock title %}

{% block navbar %}
<div id="page-container" class="sidebar-inverse side-scroll page-header-fixed page-header-glass page-header-inverse main-content-boxed side-trans-enabled">
    <header id="page-header" class="bg-primary-dark">
        <!-- Header Content -->
        <div class="content-header">
            <!-- Left Section -->
            <div class="content-header-section">

                <!-- Logo -->
                <a class="logo" href="/">
                    <img srcset="https://my.its.ac.id/assets/media/img/@2x/myits-sso-white.png 2x, https://my.its.ac.id/assets/media/img/myits-sso-white.png 1x" src="https://my.its.ac.id/assets/media/img/myits-sso-white.png" width="100px" alt="home" class="dark-logo">
                </a>
                <!-- END Logo -->
            </div>
            <!-- END Left Section -->

            <!-- Right Section -->
            <div class="content-header-section">
                <!-- Header Navigation -->
                <!--
                Desktop Navigation, mobile navigation can be found in #sidebar
                -->
                <ul class="nav-main-header">
                    <li>
                        <a href="/author">Author</a>
                    </li>
                    <li>
                        <a href="/topic">Topic</a>
                    </li>
                    <li>
                        <a href="/affiliation">Affiliation</a>
                    </li>
                </ul>

                <!-- END Header Navigation -->

                <!-- Toggle Sidebar -->
                <!-- Layout API, functionality initialized in Template._uiApiLayout() -->
                <button type="button" class="btn btn-circle btn-dual-secondary d-lg-none" data-toggle="layout" data-action="sidebar_toggle">
                    <i class="fa fa-navicon"></i>
                </button>
                <!-- END Toggle Sidebar -->
            </div>
            <!-- END Right Section -->
        </div>
        <!-- END Header Content -->

        <!-- Header Loader -->
        <div id="page-header-loader" class="overlay-header bg-primary">
            <div class="content-header content-header-fullrow text-center">
                <div class="content-header-item">
                    <i class="fa fa-sun-o fa-spin text-white"></i>
                </div>
            </div>
        </div>

        <!-- END Header Loader -->
    </header>

{% endblock navbar %}

{% block content %}

{% load static %}

    <main id="main-container" style="min-height: 829px;">
        <div class="container" style="margin-top:100px; width:100%;">
            <div class="foto" style="float:left; width:120px;">
                <img src="https://www.w3schools.com/howto/img_avatar.png" alt="Avatar" style="width:120px; height:120px; border-radius: 50%;">
            </div>
            <div class="info-author" style="margin-left:150px;"> 
                <p style="font-size:24px; color: #013880; margin-bottom:0px;"> <strong> {{ author.name }} </strong> </p>
                <p style="font-size:16px; margin-bottom:0px;"> {{ author.univ.name }} </p>
                <p style="font-size:16px; margin-bottom:0px;"> {{ countpub }} Publications &nbsp; &nbsp; {{ sumcite.cite__sum }} Citations </p>
                <p> nidn {{ author.nidn }} &nbsp; &nbsp; i10-index {{ author.i10_index }} &nbsp; &nbsp; h-index {{ author.h_index }} </p>
            </div>
            <div class="container" style="width:100%">
                <div class="publication" style="font-size: 18px; color: #013880; margin-top:50px; width:100%;">
                    <p> <strong>Publications & Topics Over Time</strong> </p>
                    {% comment %} <div class="chart-container content" style="height: 300; width: 600px; text-align:left">
                        <canvas id="doughnut-chart"></canvas>
                    </div> {% endcomment %}
                    <div class="chart-container content" style="height:40vh; width:80vw">
                        <canvas id="mixed-chart"></canvas>
                    </div>
                </div>
            </div>  
            <div class="container" style="width:100%; margin-top: 260px;">
                <div class="publication" style="font-size: 18px; color: #013880; margin-top:50px; width:100%;">
                    <p> <strong>Publications</strong> </p>
                </div>
            </div>
            <div class="container" style="width: 100%;">
                {% if users.has_other_pages %}
                            <nav aria-label="Page navigation example" style="margin-bottom: 40px; margin-right:20px">
                                <ul class="pagination justify-content-end">
                                    {% if users.has_other_pages %}
                                    <nav aria-label="Page navigation example">
                                        <ul class="pagination justify-content-end">
                                        {% if users.has_previous %}
                                            <li class="page-item">
                                                <a class="page-link" href="?page={{ users.previous_page_number }}" tabindex="-1" style="color:#013880;">Previous</a>
                                            </li>
                                        {% else %}
                                            <li class="page-item disabled">
                                                <a class="page-link" href="#" tabindex="-1">Previous</a>
                                            </li>
                                        {% endif %}
                            
                                        
                                        {% for i in users.paginator.page_range %}
                                        {% if users.number == i %}
                                            <li class="page-item active"><span class="page-link" style="background-color:#013880;">{{ i }} <span class="sr-only">(current)</span></span></li>
                                        {% else %}
                                            <li class="page-item"><a href="?page={{ i }}" class="page-link" style="color:#013880;">{{ i }}</a></li>
                                        {% endif %}
                                        {% endfor %}
                            
                                        {% if users.has_next %}
                                        <li class="page-item">
                                            <a class="page-link" href="?page={{ users.next_page_number }}" style="color:#013880;">Next</a>
                                        </li>
                                            {% else %}
                                        <li class="page-item disabled">
                                            <a class="page-link" href="#">Next</a>
                                            </li>
                                            {% endif %}
                                        </ul>
                                    </nav>
                                    {% endif %}
                                </ul>
                            </nav>
                        {% endif %}
        
                <div class="filter" style="width:400px; float:left">
                    Filter By: <br> <br>
                    {% for topik in nama_topik %}
                        <input type="checkbox" id="{{topik.topic_name}}" name="{{topik.topic_name}}" value="{{topik.topic_name}}">
                        <label for="{{topik.topic_name}}">{{topik.topic_name}}</label><br>
                    {% endfor %}
                </div>
            
                {% for paper in users %}
                <div class="item" style="font-size:20px; box-shadow: 1px 1px 8px gray; background-color:white; width: 680px; height:auto; float:right; text-align:left; padding-left:20px; padding-right: 20px; margin-bottom:50px;">
                    <p style="margin-top: 15px; font-size:20px; color: #013880; margin-bottom:0px;"> <strong> {{ paper.title }} </strong></p>
                    <p style="margin-bottom:5px;"> <strong style="font-size:16px;"> {{ paper.year }} &nbsp; &nbsp; {{ paper.authors }} </strong></p>
                    <p style="font-size:16px; color: #013880;"> <strong style="outline-style: solid;"> {{ topics.topic_name }} </strong> </p>
                </div>    
                {% endfor %}
            </div> 
        </div>

        
    </main>

{% endblock content %}

{% block footer %}
<footer id="page-footer" class="bg-white opacity-0" style="opacity: 1;">
    <div class="content py-20 font-size-xs clearfix">
        <div class="float-left" style="padding-top: 40px">
            <div class="info">© 2020 Institut Teknologi Sepuluh Nopember</div>
        </div>
        <div class="float-right">
            <img srcset="https://my.its.ac.id/assets/media/img/@2x/Logo-its.png 2x, https://my.its.ac.id/assets/media/img/Logo-its.png 1x" src="https://my.its.ac.id/assets/media/img/Logo-its.png" alt="Logo ITS" class="dark-logo mr-2" width="100px">
            <img srcset="https://my.its.ac.id/assets/media/img/@2x/logo-ITSsemangatbaru.png 2x, https://my.its.ac.id/assets/media/img/logo-ITSsemangatbaru.png 1x" src="https://my.its.ac.id/assets/media/img/logo-ITSsemangatbaru.png" width="100px" alt="Logo ITS Semangat Baru" class="dark-logo">
        </div>
    </div>
</footer>
{% endblock %}

{% block script %}
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

    {% comment %} tambahan {% endcomment %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.js" integrity="sha512-G8JE1Xbr0egZE5gNGyUm1fF764iHVfRXshIoUWCTPAbKkkItp/6qal5YAHXrxEu4HNfPTQs6HOu3D5vCGS1j3w==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js" integrity="sha512-s+xg36jbIujB2S2VKfpGmlC3T5V2TF3lY48DX7u2r9XzGzgPsa6wTpOQA7J9iffvdeBN0q9tKzRxVxw1JviZPg==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.min.js" integrity="sha512-vBmx0N/uQOXznm/Nbkp7h0P1RfLSj0HQrFSzV8m7rOGyj30fYAOKHYvCNez+yM8IrfnW0TCodDEjRqf6fodf/Q==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.js" integrity="sha512-QEiC894KVkN9Tsoi6+mKf8HaCLJvyA6QIRzY5KrfINXYuP9NxdIkRQhGq3BZi0J4I7V5SidGM3XUQ5wFiMDuWg==" crossorigin="anonymous"></script>
    <script>
    {% comment %} new Chart(document.getElementById("doughnut-chart"), {
        type: 'pie',
        data: {
        labels: ["{{author.topik_dominan1.topic_name}}", "{{author.topik_dominan2.topic_name}}", "{{author.topik_dominan3.topic_name}}",],
        datasets: [{
            label: "Jumlah Publikasi Berdasarkan Topik",
            backgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f",],
            data: [{{author.nilai_dominan1}},{{author.nilai_dominan2}},{{author.nilai_dominan3}}]
        }]
        },
        options: {
        title: {
            display: true,
            text: 'Jumlah Publikasi Berdasarkan topik'
        }
        }
    });
    new Chart(document.getElementById("polar-chart"), {
        type: 'polarArea',
        data: {
        labels: ["{{author.topik_dominan1.topic_name}}", "{{author.topik_dominan2.topic_name}}", "{{author.topik_dominan3.topic_name}}",],
        datasets: [{
            label: "Publikasi Topik Terbanyak 3 tahun terakhir",
            backgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f",],
            data: [{{author.nilai_dominan1}},{{author.nilai_dominan2}},{{author.nilai_dominan3}}]
        }]
        },
        options: {
        title: {
            display: true,
            text: 'Publikasi Topik Terbanyak 3 tahun terakhir'
        }
        }
    }); {% endcomment %}
    new Chart(document.getElementById("mixed-chart"), {
    type: 'bar',
    data: {
        labels: ['2010','2011','2012','2013','2014','2015','2016','2017','2018','2019','2020'],
        datasets: [
        {%for dat in data_count %} {
                    label: "{{dat.x}}",
                    type: "line",
                    borderColor: "{{dat.Color}}",
                    data: {{dat.y}},
                    fill: false
                },
        {% endfor %} 
        
        {%for dat in data_sum %}
                {
                    label: "{{dat.x}}",
                    type: "bar",
                    backgroundColor: "{{dat.Color}}",
                    backgroundColorHover: "{{dat.Color}}",
                    data: {{dat.y}},
                },
        {% endfor %}           
        
        ]
    },
    options: {
        title: {
            display: true,
            text: 'Persebaran jumlah topik 3 tahun terakhir'
        },
            legend: {
            labels: {
                filter: function(legendItem, chartData) {
                // return true or false based on legendItem's datasetIndex (legendItem.datasetIndex)
                if ([0,1,2].includes(legendItem.datasetIndex)) {
                        return false;
                    }
                    return true;
                }
            }
            }
    }
    });
</script>
{% endblock %}
